- if @error == 'yes'
  %font{size: '5', color: '#ff0000'}
    %b 
      入力した値にエラーがあります。
      %br
      - if @error_list[0].size > 1
        倒したピンの数は１～１０の半角数字で値を入力してください。　
        = "#{@error_list[0].size - 1}ヵ所"
        %br
      - if @error_list[1].size > 1
        １投目と2投目の倒したピンの数の和が１０を超えないように入力してください。
        = "#{@error_list[1].size - 1}ヵ所"
        %br
      - if @error_list[2] == 1
        １０フレーム目の３投目はストライクかスぺアの場合出ない限り、０を入力してください。
        %br
      - if @error_list[3] == 1
        １０フレーム目の2投目と３投目の和が1０を超えないように入力してください。
        %br