%h1 登録確認  

%p このスコアをデータベースに登録します。宜しければ下の登録ボタンをクリックしてください。

%p
  名前：
  %b
    = @name 

%p
  日付：
  %b
    = @date

= render 'shared/score_table'

%form{:method=>"post", :action=>"/scores"}
  %input{:type=>"submit", :name=>"ok", :value=>"登録"}
%br
%br

= link_to 'Start Page', '/' 
