%p 新規登録

%form{:method=>"post",:action=>"/scores"}

%p<br>




名前：




%input{:type=>"text",
:name=>"player_name"}




%br




あなたの倒したピンの数を入力してください。




%br




%br




１フレーム目　１投目：




%input{:type=>"integer",
:name=>"dawn_pin[]"}




%br




%input{:type=>"submit",
:value=>"確定"
}



