
%h1 新規登録

- if @error == 1
  %font{size: '5', color: '#ff0000'}
    %b 
      入力した値にエラーがあります。
      %br
      - if @errors_pins_not_number.size > 1
        倒したピンの数は１～１０の半角数字で値を入力してください。
        %br
      - if @errors_pins_over_10.size > 1
        １投目と2投目の倒したピンの数の合計が１０を超えないように入力してください。
        %br
      - if @error_3rd_roll_10frame == '1'
        １０フレーム目の３投目はストライクかスぺアの場合出ない限り、０を入力してください。

%form{method: 'post', action: 'confirm'}
  = render 'shared/input_pin_number'

= link_to 'Index Page', '/scores'
= link_to 'Start Page', '/'

