


<p>新規登録</p>
  
<form method="post" action="/scores">
 <p>
   名前：<input type="text" name="player_name" /><br />
   日付：<input type="text" name="game_date" /><br /><br />
   あなたの倒したピンの数を入力してください。<br />
   １フレーム目　１投目：<input type="integer" name="dawn_pin[]" />　　２投目：<input type="integer" name="dawn_pin[]" /><br />
   ２フレーム目　１投目：<input type="integer" name="dawn_pin[]" />　　２投目：<input type="integer" name="dawn_pin[]" /><br />
   ３フレーム目　１投目：<input type="integer" name="dawn_pin[]" />　　２投目：<input type="integer" name="dawn_pin[]" /><br />
   ４フレーム目　１投目：<input type="integer" name="dawn_pin[]" />　　２投目：<input type="integer" name="dawn_pin[]" /><br />
   ５フレーム目　１投目：<input type="integer" name="dawn_pin[]" />　　２投目：<input type="integer" name="dawn_pin[]" /><br />
   ６フレーム目　１投目：<input type="integer" name="dawn_pin[]" />　　２投目：<input type="integer" name="dawn_pin[]" /><br />
   ７フレーム目　１投目：<input type="integer" name="dawn_pin[]" />　　２投目：<input type="integer" name="dawn_pin[]" /><br />
   ８フレーム目　１投目：<input type="integer" name="dawn_pin[]" />　　２投目：<input type="integer" name="dawn_pin[]" /><br />
   ９フレーム目　１投目：<input type="integer" name="dawn_pin[]" />　　２投目：<input type="integer" name="dawn_pin[]" /><br />
   10フレーム目　１投目：<input type="integer" name="dawn_pin[]" />　　２投目：<input type="integer" name="dawn_pin[]" />　３投目：<input type="integer" name="dawn_pin[]" /><br /><br />
   <input type="submit" value="確定" />
 </p>
</form>



