%h1 新規登録

%form{:method=>"post", :action=>"confirm"}
  %p
    プレーヤーの名前：
    %input{:type=>"text", :name=>"player_name", :value=>"ユーザー"}
    %br
    ゲームをした日時 ：
    %input{:type=>"text", :name=>"game_date", :value=>"2013-08-27 12:00:00"}
    %input{:type=>"checkbox", :name=>"current_time", :value=>"on"}現在時刻を入力
    %br
    例：2013-08-27 12:00:00
    %br
    %br
    あなたが倒したピンの数を入力してください。
    %br
    %br
    １フレーム目　　１投目：
    %input{:type=>"text", :name=>"down_pin[]", :size=>"1", :maxlength=>"2", :value=>"0"}　
    ２投目：
    %input{:type=>"text", :name=>"down_pin[]", :size=>"1", :maxlength=>"2", :value=>"0"}
    %br
    ２フレーム目　　１投目：
    %input{:type=>"text", :name=>"down_pin[]", :size=>"1", :maxlength=>"2", :value=>"0"}　
    ２投目：
    %input{:type=>"text", :name=>"down_pin[]", :size=>"1", :maxlength=>"2", :value=>"0"}
    %br
    ３フレーム目　　１投目：
    %input{:type=>"text", :name=>"down_pin[]", :size=>"1", :maxlength=>"2", :value=>"0"}　
    ２投目：
    %input{:type=>"text", :name=>"down_pin[]", :size=>"1", :maxlength=>"2", :value=>"0"}
    %br
    ４フレーム目　　１投目：
    %input{:type=>"text", :name=>"down_pin[]", :size=>"1", :maxlength=>"2", :value=>"0"}　
    ２投目：
    %input{:type=>"text", :name=>"down_pin[]", :size=>"1", :maxlength=>"2", :value=>"0"}
    %br
    ５フレーム目　　１投目：
    %input{:type=>"text", :name=>"down_pin[]", :size=>"1", :maxlength=>"2", :value=>"0"}　
    ２投目：
    %input{:type=>"text", :name=>"down_pin[]", :size=>"1", :maxlength=>"2", :value=>"0"}
    %br
    ６フレーム目　　１投目：
    %input{:type=>"text", :name=>"down_pin[]", :size=>"1", :maxlength=>"2", :value=>"0"}　
    ２投目：
    %input{:type=>"text", :name=>"down_pin[]", :size=>"1", :maxlength=>"2", :value=>"0"}
    %br
    ７フレーム目　　１投目：
    %input{:type=>"text", :name=>"down_pin[]", :size=>"1", :maxlength=>"2", :value=>"0"}　
    ２投目：
    %input{:type=>"text", :name=>"down_pin[]", :size=>"1", :maxlength=>"2", :value=>"0"}
    %br
    ８フレーム目　　１投目：
    %input{:type=>"text", :name=>"down_pin[]", :size=>"1", :maxlength=>"2", :value=>"0"}　
    ２投目：
    %input{:type=>"text", :name=>"down_pin[]", :size=>"1", :maxlength=>"2", :value=>"0"}
    %br
    ９フレーム目　　１投目：
    %input{:type=>"text", :name=>"down_pin[]", :size=>"1", :maxlength=>"2", :value=>"0"}　
    ２投目：
    %input{:type=>"text", :name=>"down_pin[]", :size=>"1", :maxlength=>"2", :value=>"0"}
    %br
    １０フレーム目　１投目：
    %input{:type=>"text", :name=>"down_pin[]", :size=>"1", :maxlength=>"2", :value=>"0"}　
    ２投目：
    %input{:type=>"text", :name=>"down_pin[]", :size=>"1", :maxlength=>"2", :value=>"0"}　
    ３投目：
    %input{:type=>"text", :name=>"down_pin[]", :size=>"1", :maxlength=>"2", :value=>"0"}　
    %br
    %br
    %input{:type=>"submit", :value=>"確定"}


= link_to 'Start Page', '/'
